# Problem Set 2

***

# Question 1

Consider the following Python module:<br>
a = 0 <br>
def b():<br>
&emsp;global a<br>
&emsp;a = c(a)<br>
def c(a):<br>
&emsp;return a + 2<br>

After importing the module into the interpreter, you execute:<br>
b()<br>
b()<br>
b()<br>
a<br>

What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [11]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()

In [12]:
print(a)

6

When the last expression a is evaluated, the value displayed is 6.

This is because when the module is imported, the variable a is initialized to 0. The function b() updates the value of a by calling the function c() with the current value of a as an argument. The function c() adds 2 to the value of a and returns the result.

When b() is called for the first time, the global variable a is set to the value returned by c(a) which is 2. When b() is called for the second time, the value of a is now 2, and c(a) returns 4. When b() is called for the third time, the value of a is now 4, and c(a) returns 6.

Finally, when a is evaluated, it returns the current value of the global variable a, which is 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:<br>
fileLength('midterm.py') <br>
284<br>
fileLength('idterm.py') <br>
Traceback (most recent call last):<br>
File "<pyshell#34>", line 1, in <module> <br>
fileLength('idterm.py')<br>
File "/Users/me/midterm.py", line 3, in fileLength <br>
infile = open(filename)<br>
FileNotFoundError: [Errno 2] No such file or directory: <br>
'idterm.py'<br>
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:<br>
fileLength('midterm.py') <br>
358<br>
fileLength('idterm.py')<br>
File idterm.py not found.<br>

In [19]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            contents = file.read()
            return len(contents)
    except FileNotFoundError:
        print("File", filename, "not found.")

In [50]:
fileLength('hello.py')

File hello.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
m = Marsupial()<br>
m.put_in_pouch('doll')<br>
m.put_in_pouch('firetruck')<br>
m.put_in_pouch('kitten')<br>
 m.pouch_contents() <br>
['doll', 'firetruck', 'kitten']<br>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br>
a. extends the Marsupial __init__ constructor to take, as input, thecoordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>
c. overloads the __str__ operator so it behaves as shown below.<br>
k = Kangaroo(0,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (0,0)<br>
k.put_in_pouch('kitten')<br>
k.pouch_contents() <br>
['doll', 'firetruck', 'kitten']<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
k.jump(1,0)<br>
print(k)<br>
I am a Kangaroo located at coordinates (3,0)<br>

In [23]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [49]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output of the content for the Marsupial class

k = Kangaroo(0, 0)
print(k)  

print("\n")
print("**The same functions defined in the Marsupial class are extended to the Kangaroo class**")
print("\n")

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output of the pouch content when the same class was extended to Kangaroo

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)


**The same functions defined in the Marsupial class are extended to the Kangaroo class**


['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the ollatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:<br>
x = {<br>
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐<br>
3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 <br>}<br>
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops<br>
->collatz(1) <br>
1<br>
->collatz(10) <br>
10<br>
5<br>
16<br>
8<br>
4<br>
2<br>
1<br>
Her<br>

In [62]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [63]:
collatz(1)

1

In [64]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.<br>
-> binary(0)<br>
0<br>
-> binary(1)<br>
1<br>
-> binary(3) <br>
11<br>
-> binary(9) <br>
1001

In [33]:
def binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return binary(n // 2) + str(n % 2)

In [38]:
binary(0)

'0'

In [35]:
binary(1)

'1'

In [36]:
binary(3)

'11'

In [37]:
binary(9)

'1001'

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.<br>

infile = open('w3c.html')<br>
content = infile.read()<br>
infile.close()<br>
hp = HeadingParser()<br>
hp.feed(content) <br>
W3C Mission <br>
Principles<br>

In [70]:
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_list = []
        self.indent = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():
            self.indent = int(tag[1:]) - 1

    def handle_data(self, data):
        data = data.strip()
        if data and self.indent == 0:
            self.heading_list.append(data)

    def print_headings(self):
        for heading in self.heading_list:
            print(heading)

In [ ]:
infile = open('ques6.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL. <br>

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [79]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
   
    if depth == 0:
        return
    
    response = requests.get(url)
    print(response.status_code)
    
    if response.status_code != 200:
        return
   
    soup = BeautifulSoup(response.content, 'html.parser')
    print(soup)
    
    links = soup.find_all('a')
   
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth - 1, indent + 1)

In [80]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
404

# Question 8

Write SQL queries on the below database table that return:<br>
a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records<br>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.<br>

In [85]:
import sqlite3

In [86]:
conn = sqlite3.connect('test.db')

In [87]:
conn.execute('''CREATE TABLE test(City text,Country text,Season text,Temperature integer,Rainfall integer);''')

In [88]:
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Winter',24.8,5.9);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Spring',28.4,16.2);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Summer',27.9,1549.4);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Fall',27.6,346.0);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Winter',4.2,207.7);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Spring',8.3,169.6);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Summer',15.7,157.0);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Fall',10.4,218.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Winter',13.6,16.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Spring',20.7,6.5);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Summer',27.7,0.1);")
conn.execute("insert into test(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Fall',22.2,4.5);")

In [89]:
conn.execute("select * from test").fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [90]:
conn.execute("select Temperature from test").fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [91]:
conn.execute("select distinct City from test").fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [92]:
conn.execute("select * from test where Country = 'India'").fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [93]:
conn.execute("select * from test where Season = 'Fall'").fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [94]:
conn.execute("select City,Country,Season from test group by City,Country,Season having AVG(Rainfall) between 200 and 400").fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [95]:
conn.execute("select City,Country from test where Season ='Fall' group by City,Country having AVG(Temperature) > 20 order BY AVG(Temperature) ASC").fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [96]:
conn.execute("select sum(Rainfall) from test where City = 'Cairo'").fetchall()

[(27.6,)]

In [97]:
conn.execute("select Season, sum(Rainfall) from test group by Season").fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#  Question 9

Suppose list words is defined as follows:<br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:<br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']<br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']<br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).<br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',<br>
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)<br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [103]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper = [word.upper() for word in words]
print(words_upper)
print('\n')
words_lower = [word.lower() for word in words]
print(words_lower)
print('\n')
word_lengths = [len(word) for word in words]
print(word_lengths)
print('\n')
words_list = [[word.upper(), word.lower(), len(word)] for word in words]
print(words_list)
print('\n')
words_length_4 = [word for word in words if len(word) >= 4]
print(words_length_4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']

# SOURCES

Following sources were used for the assignment:

https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16
https://docs.python.org/3/
https://stackoverflow.com/questions/tagged/python